@font-face {
	font-family: 'NanumGothic';
	src:
		url('fonts/NanumGothic.eot'),
		url('fonts/NanumGothic.eot?#iefix') format(‘embedded-opentype’),
		url('fonts/NanumGothic.woff') format(‘woff’);
}

@font-face {
	font-family: 'SpoqaHanSansNeo-Bold';
	src: url('./fonts/SpoqaHanSansNeo-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'SpoqaHanSansNeo-Medium';
	src: url('./fonts/SpoqaHanSansNeo-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'SpoqaHanSansNeo-Regular';
	src: url('./fonts/SpoqaHanSansNeo-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'SpoqaHanSansNeo-Light';
	src: url('./fonts/SpoqaHanSansNeo-Light.ttf') format('truetype');
}
